
<!DOCTYPE html>
<html ng-app="d3DemoApp">
<head>
  <meta charset="utf-8">
  <title>Marks and Spencer - Web Engineering</title>
  <script src="http://d3js.org/d3.v2.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.js"></script>
  <script src="js/app.js"></script>
   <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
</head>
<body ng-controller="AppCtrl">
  <!--https://github.com/btford/briantford.com/blob/master/jade/blog/angular-d3.md-->
  <h1>Web Engineering Dashboard - Commit Visualization</h1>

  <form ng-submit="getCommitData()">
    User: <input ng-model="user"></input>
    Repo: <input ng-model="repo"></input>
    <input type="submit" value="Get Data">
    Grouped <input type="checkbox" ng-model="grouped">
  </form>
  
  <p class="error">{{error}}</p><!--Error Handling-->
  <gh-visualization val="data" grouped="grouped"></gh-visualization>
</body>
</html>