<!doctype html>
<html ng-app="d3DemoApp">
<head>
 
   <meta charset="utf-8">
   <meta http-equiv="Content-Type" content="text/html">
   <title>Web Engineering & DevOps</title>
   <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css">
  <script src="http://d3js.org/d3.v2.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.js"></script>
  <script src="app/js/app-stats.js"></script>
  

  <link rel="stylesheet" type="text/css" href="app/assets/css/style.css">
</head>

<body ng-controller="AppCtrl">
<h1><a href="../dashboard/">Web Engineering & DevOps Dashboard</a> </h1>
  <div class="git-chat">
      <form ng-submit="getCommitData()">
        User: <input ng-model="user"></input>
        Repo: <input ng-model="repo"></input>
        <input type="submit" value="Get Data">
        Grouped <input type="checkbox" ng-model="grouped">
      </form>
      
      <p class="error">{{error}}</p><!--Error Handling-->
      <gh-visualization val="data" grouped="grouped"></gh-visualization>
  </div>

</body>
</html>
